* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Roboto";
  font-size: 18px;
  background-color: gray;
  --header-color: #bae6fd;
  --main-color: #fef9c3;
  --sidebar-color: #93c5fd;
  --footer-color: #60a5fa;
}

li:hover {
  color: white;
}
body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 1fr 5fr 1fr / 1fr 4fr;
}

.header {
  background-color: var(--header-color);
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 1px solid white;
  grid-area: 1 / 1 / 2 / 4;
}

/* sidebar */
.sidebar {
  background-color: var(--sidebar-color);
  grid-area: 2 / 1 / 4 / 2;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

.dropzone.dragover {
  background-color: rgba(20, 202, 140, 0.5);
}
.tasks {
  height: 50%;
  width: 100%;
}

.activeFilter {
  color: red;
}
.taskContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  row-gap: 1rem;
}

.task {
  user-select: none;
  position: relative;
  height: 10%;
  border: 2px solid black;
  font-size: 1.3rem;
  padding: 0.5rem;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 600ms;
  border-radius: 0.5rem;
  align-items: center;
  justify-items: center;
}
.task:hover {
  grid-template: repeat (4, 1fr) / repeat (2, 1fr);
  height: 40%;
}

.task:hover > * {
  visibility: visible;
}

.task > * {
  visibility: hidden;
}

.taskTitle {
  grid-area: 1 / 1 / 2 /3;
  visibility: visible;
}

.taskDescription {
  grid-area: 2 / 1 / 3 /3;
  justify-self: start;
}
.taskPriority {
  grid-area: 3 / 1 / 4 /3;
  font-size: 1rem;
  justify-self: start;
}
.taskDate {
  grid-area: 3 / 2 / 4/ 3;
}

.projectID {
  grid-area: 4 / 1 / 5/ 2;
}
.taskFavorite {
  grid-area: 4 / 2 / 5/ 3;
  justify-self: end;
}
.projects {
  height: 50%;
  width: 100%;
}

ul {
  list-style: none;
}
li {
  margin-top: 0.6rem;
}

.favoriteIcon {
  position: absolute;
  visibility: hidden;
  opacity: 0.5;
  background-color: none;
  top: 0%;
  right: 0%;
  height: 22px;
  width: auto;
  z-index: 5;
}

.favoriteIcon.active {
  visibility: visible;
  opacity: 1;
}

.editTask,
.deleteTask {
  position: absolute;
  visibility: hidden;
  opacity: 0.5;
  background-color: none;
  top: 85%;
  height: 30px;
  width: auto;
  z-index: 5;
}
.editTask {
  right: 15%;
}

.deleteTask {
  right: 3%;
}

.projectsContainer {
  border: 1px white solid;
  width: 100%;
  height: 55%;
  padding: 1rem 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 0.2rem;
}

.project {
  align-self: start;
  color: white;
  padding: 0.3rem;
  width: 100%;
  font-size: 1.2rem;
  display: flex;
}

.edit,
.delete {
  width: 30px;
  height: auto;
}
/* main */
.main {
  background-color: var(--main-color);
  grid-area: 2 / 2 / 3 / 3;
  z-index: 1;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
}

.new {
  border: 3px dashed orange;
  border-radius: 1rem;
}

.inProgress {
  border: 3px dashed purple;
  border-radius: 1rem;
}

.finished {
  border: 3px dotted green;
  border-radius: 1rem;
}
/* footer */
.footer {
  background-color: var(--footer-color);
  grid-area: 3 / 1 / 4 / 3;
  z-index: 2;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* tasks modal */

.tasksModal {
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 3;
  background-color: white;
  height: 70vh;
  width: 30vw;
  min-width: 300px;
  padding: 1rem 1rem 2.5rem 1rem;
  border: 2px black solid;
}

.tasksModal.active {
  transform: translate(-50%, -50%) scale(1);
  transition: 200ms ease-in-out;
}
.editTasksModal {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  z-index: 3;
  background-color: white;
  height: 70vh;
  width: 30vw;
  min-width: 300px;
  padding: 1rem 1rem 2.5rem 1rem;
  border: 2px black solid;
}

.editTasksModal.active {
  transform: translate(-50%, -50%) scale(1);
  transition: 200ms ease-in-out;
}

.title {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.newTask,
.editTaskForm {
  margin-top: -60px;
  display: grid;
  grid-template: repeat(12, 0.4fr) / 1fr 1fr;
  justify-items: center;
  row-gap: 0.6rem;
}

label {
  display: block;
  grid-column: 1/3;
  height: auto;
  user-select: none;
}

label[for="priority1"],
label[for="priority2"],
label[for="priority3"] {
  font-size: 1.2rem;
}

input {
  width: 80%;
  padding: 0.6rem;
  font-size: 1rem;
  grid-column: 1/3;
}

input[type="date"] {
  padding: 1rem;
}

select {
  grid-column: 1/3;
  width: 80%;
  padding: 0.6rem;
  font-size: 1rem;
}
button#tasksAdd {
  grid-column: 1/3;
}

button {
  font-size: 1.3rem;
  padding: 0.7rem 1.7rem;
}

.priority {
  display: flex;
  align-items: center;
  width: 80%;
  grid-column: 1/3;
  border: none;
  user-select: none;
}

.dragging {
  opacity: 0.5;
}
textarea {
  grid-column: 1/3;
  width: 80%;
  overflow: auto;
  padding: 0.5rem 1rem;
  min-height: 50px;
  min-width: 250px;
  max-height: 70px;
  max-width: 80%;
}
label[for="isFavorite"] {
  grid-area: 10 /1/ 11/ 2;
}
input[id="isFavorite"] {
  grid-area: 10 / 2 / 11 / 3;
}
button.exit {
  position: relative;
  grid-area: 1 / 1 / 2 / 2;
  top: -7%;
  left: 48%;
  border: none;
  background: none;
  font-size: 2rem;
  width: 30px;
  height: auto;
}

#tasksOverlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  min-width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

#tasksOverlay.active {
  opacity: 1;
  pointer-events: all;
}

/* Projects modal */

.projectsModal,
.editProjectModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 5;
  width: 20vw;
  height: 25vh;
  background-color: white;
  padding: 1rem 0.5rem;
  border: 1px solid black;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.projectsTitle {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 1.8rem;
}

.color {
  display: flex;
  width: 100%;
  border: 1px black solid;
}
#color-picker {
  width: 20%;
  align-self: end;
  display: block;
}
form.newProject {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  align-items: center;
}

.projectsModal.active,
.editProjectModal.active {
  transform: translate(-50%, -50%) scale(1);
  transition: 200ms ease-in-out;
}

.projectsModal .exit,
.exitTaskEdit {
  position: relative;
  height: 50px;
  width: auto;
  top: 0%;
  right: 0%;
  transition: 200ms ease-in-out;
}
