* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("./fonts/Manrope[wght].ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: "Manrope", "Iowan Old Style", "Palatino Linotype",
    "URW Palladio L", P052, serif;
  font-weight: normal;
  font-size: 18px;
  background-color: gray;
  color: black;
  --new-color: #818cdd;
  --inProgress-color: #4556d8;
  --finished-color: #091dcf;
  --header-color: #c8c8f3;
  --main-color: #f4f2f2;
  --sidebar-color: #a5a5ca;
  --footer-color: #d58d7e;
  --accent-color: #ee3f6e;
}

li:hover {
  color: var(--accent-color);
  cursor: pointer;
}

input#name:valid,
input#project:valid,
input#project:valid {
  border: 2px solid green;
  outline: none;
}

input#name:invalid,
input#project:invalid {
  border: 2px solid red;
  outline: none;
}

input#name:focus,
input#description:focus,
textarea:focus,
input#project:focus,
input[type="text"]:focus {
  outline: none;
}
li::after {
  content: "";
  position: absolute;
  background-color: var(--accent-color);
  width: 0%;
  height: 3px;
  bottom: -6px;
  left: 0;
  transition: 0.4s;
}

li:hover::after {
  width: 100%;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 1fr 8fr 1fr / 1fr 3fr;
}

.header {
  background-color: var(--header-color);
  font-size: 3.2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  height: 100%;
  width: 100%;
  grid-area: 1 / 1 / 2 / 4;
  text-transform: uppercase;
  font-family: "Poppins";
  letter-spacing: 0.1rem;
  user-select: none;
}

.toDoLogo {
  width: auto;
  height: 3.5rem;
}

/* sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--sidebar-color);
  grid-area: 2 / 1 / 4 / 2;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

.dropzone.dragover {
  background-color: rgb(238, 63, 110, 0.3);
}
.tasks {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.activeFilter {
  color: var(--accent-color);
}
.taskContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  row-gap: 1rem;
}

.task {
  user-select: none;
  position: relative;
  height: 10%;
  border: none;
  font-size: 1.3rem;
  padding: 0.5rem 0.7rem;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 600ms;
  border-radius: 0.7rem;
  align-items: center;
  justify-items: center;
}
.task:hover {
  grid-template: repeat (6, 1fr) / repeat (2, 1fr);
  height: 50%;
}

.task:hover > * {
  visibility: visible;
}

#addProject {
  display: flex;
  font-size: 1.7rem;
  justify-content: center;
  font-weight: 700;
  border-radius: 1rem;
}

.task > * {
  visibility: hidden;
  grid-column: 1/3;
}

.taskTitle {
  grid-row: 1/2;
  grid-column: 1/3;
  visibility: visible;
  justify-self: center;
  align-self: center;

  font-weight: 500;
}

.taskDescription {
  grid-row: 2/3;
  justify-self: start;
  font-size: 1.2rem;
}
.taskPriority {
  grid-row: 3/4;
  grid-column: 2/3;
  font-size: 1.3rem;
  justify-self: center;
}
.taskDate {
  grid-row: 3/4;
  grid-column: 1/2;
  justify-self: start;
  font-size: 1.3rem;
}

.projectID {
  grid-row: 5/6;
  grid-column: 1/2;
}

.taskNotes {
  grid-row: 4/5;
  font-size: 1rem;
  font-style: italic;
  justify-self: start;
  overflow: auto;
  word-wrap: break-word;
  word-break: break-all;
  max-width: 100%;
}

.projects {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
li {
  margin-top: 0.6rem;
  position: relative;
  padding: 0.2rem 0.5rem;
  letter-spacing: 0.1rem;
}

.favoriteIcon {
  position: absolute;
  visibility: hidden;
  opacity: 0.5;
  background-color: none;
  top: 0px;
  right: -10px;
  height: 26px;
  width: auto;
  z-index: 5;
  cursor: pointer;
}

.urgentIcon {
  width: 2rem;
  height: auto;
  position: absolute;
  top: 0px;
  left: -15px;
  z-index: 5;
  visibility: visible;
}
.favoriteIcon.active {
  visibility: visible;
  opacity: 1;
}

.editTask,
.deleteTask {
  position: absolute;
  visibility: hidden;
  opacity: 0.5;
  background-color: none;
  bottom: 1rem;
  height: 30px;
  width: auto;
  z-index: 5;
  cursor: pointer;
}
.editTask {
  right: 1.8rem;
}

.deleteTask {
  right: -0.2rem;
}

.projectsContainer {
  width: 100%;
  height: 55%;
  padding: 1rem 0.2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
}

.project {
  align-self: start;
  display: grid;
  align-items: center;
  grid-template-columns: 5fr 1rem 1fr 1fr;
  border: 4px solid;
  padding: 0.3rem 0.3rem 0.3rem 0.7rem;
  width: 100%;
  border-radius: 0.7rem;
  font-size: 1.3rem;
  user-select: none;
  cursor: pointer;
}

.project::after {
  height: 0%;
  content: "";
  position: absolute;
}

.project::before {
  height: 0%;
  content: "";
  position: absolute;
}

.projectSelected {
  font-weight: bold;
  transform: scale(1.02);
}
.projectSelected:hover::after {
  height: 100%;
  width: 3px;
  right: -8%;
}

.projectSelected:hover::before {
  width: 3px;
  left: -8%;
}

.projectSelected::before,
.projectSelected::after {
  transition: 0.3s ease-in-out;
  background-color: var(--accent-color);
  content: "";
  position: absolute;
  height: 100%;
}
.edit,
.delete {
  width: 30px;
  height: auto;
  cursor: pointer;
}

.edit {
  grid-column: 3/4;
}

.delete {
  grid-column: 4/5;
}
/* main */
.main {
  background-color: var(--main-color);
  grid-area: 2 / 2 / 3 / 3;
  z-index: 1;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10% auto;
  column-gap: 1rem;
  overflow: auto;
}

.statusDiv {
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.statusTitle {
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

#newTitle {
  color: var(--new-color);
}
#inProgressTitle {
  color: var(--inProgress-color);
}
#finishedTitle {
  color: var(--finished-color);
}
.new {
  border: 2px solid var(--new-color);
  border-radius: 1rem;
}
.inProgress {
  border: 2px solid var(--inProgress-color);
  border-radius: 1rem;
}

.finished {
  border: 2px solid var(--finished-color);
  border-radius: 1rem;
}

#newIcon,
#inProgressIcon,
#finishedIcon {
  height: 2.5rem;
  width: auto;
  user-select: none;
}

/* footer */
.footer {
  background-color: var(--footer-color);
  grid-area: 3 / 1 / 4 / 3;
  z-index: 2;
  font-size: 1.6rem;
  display: flex;
  gap: 0.6rem;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1rem;
}
.gitHubLogo {
  height: 50px;
  width: auto;
}

.gitHubLogo:hover {
  transform: scale(1.1);
}

/* tasks modal */
a {
  display: inline-block;
}

.tasksModal,
.editTasksModal {
  height: auto;
  position: absolute;
  width: 30vw;
  z-index: 3;
  top: 50%;
  left: 50%;
  min-width: 300px;
  padding: 1rem 1rem 2.5rem 1rem;
  border: 2px black solid;
  text-align: center;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  background-color: white;
  border-radius: 1rem;
}

.tasksModal.active {
  transform: translate(-50%, -50%) scale(1);
  transition: 200ms ease-in-out;
}

.editTasksModal {
  position: absolute;
}

.editTasksModal.active {
  transform: translate(-50%, -50%) scale(1);
  transition: 200ms ease-in-out;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  letter-spacing: 0.1rem;
}
.newTask,
.editTaskForm {
  display: grid;
  grid-template: repeat(12, 0.4fr) / 1fr 1fr;
  justify-items: center;
  row-gap: 0.6rem;
}

label {
  display: block;
  grid-column: 1/3;
  height: auto;
  user-select: none;
  font-size: 1.4rem;
}

legend {
  font-size: 1.4rem;
  display: flex;
  justify-items: center;
  align-items: center;
}
label[for="priority1"],
label[for="priority2"],
label[for="priority3"] {
  font-size: 1.3rem;
  cursor: pointer;
  user-select: auto;
}

input {
  width: 80%;
  padding: 0.8rem;
  font-size: 1rem;
  grid-column: 1/3;
}

input[type="date"] {
  padding: 1rem;
}

input[type="radio"] {
  cursor: pointer;
}
select {
  grid-column: 1/3;
  width: 80%;
  padding: 0.6rem;
  font-size: 1rem;
}
button#tasksAdd {
  grid-column: 1/3;
}

.priority {
  display: flex;
  align-items: center;
  width: 80%;
  grid-column: 1/3;
  border: none;
}

.dragging {
  opacity: 0.5;
}
textarea {
  grid-column: 1/3;
  width: 80%;
  overflow: auto;
  padding: 0.5rem 1rem;
  min-height: 50px;
  min-width: 250px;
  max-height: 70px;
  max-width: 80%;
  resize: vertical;
}
label[for="isFavorite"] {
  grid-area: 10 /1/ 11/ 2;
}
input[id="isFavorite"] {
  grid-area: 10 / 2 / 11 / 3;
  cursor: pointer;
}
button.exit {
  position: relative;
  border: none;
  background: none;
  font-size: 2rem;
  height: 50px;
  width: 50px;
  height: auto;
  cursor: pointer;
  padding: 1rem;
  font-size: 3rem;
}

#tasksOverlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  min-width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 2;
}

#tasksOverlay.active {
  opacity: 1;
  pointer-events: all;
}

/* Projects modal */

.projectsModal,
.editProjectModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 5;
  width: 30vw;
  min-width: 300px;
  height: auto;
  background-color: white;
  padding: 1rem 0.5rem;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  transition: 200ms ease-in-out;
}

.projectsTitle {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  margin-bottom: 1rem;
}

#exitProjects,
#exitEditProjects {
  margin-left: auto;
  position: absolute;
  top: 35;
  right: 0;
}

.color {
  display: flex;
  width: 100%;
  height: 5rem;
  padding: 0.2rem 0.5rem;
  justify-content: center;
  align-items: center;
}

#color-picker,
#editedColor {
  margin-left: 2rem;
  width: 3rem;
  height: 3rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  padding: 0;
  background: none;
}

form.newProject,
form.editProject {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  align-items: center;
}

.projectsModal.active,
.editProjectModal.active {
  transform: translate(-50%, -50%) scale(1);
}

.projectModalBtn {
  margin-bottom: 0;
}

.tasksBtn,
.projectModalBtn {
  border-radius: 1rem;
  padding: 0.5rem 2.1rem;
  font-size: 1.7rem;
  color: white;
  font-weight: 500;
  background-color: var(--accent-color);
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 1rem;
}

/* Modal-form styling */
.tasksModal,
.editTasksModal,
.projectsModal,
.editProjectModal {
  background-color: var(--sidebar-color);
  color: white;
}

.exit.exitTaskEdit,
.exit.exitTasksModal {
  position: absolute;
  left: 85%;
  top: 0%;
  padding: 0;
  margin: 0;
  height: 10px;
  z-index: 5;
}

input,
select,
textarea {
  border-radius: 0.7rem;
  font-size: 1.2rem;
  border: none;
  background-color: var(--main-color);
}

textarea {
  font-size: 1rem;
}
label[for="priority1"],
label[for="priority2"],
label[for="priority3"],
input[type="radio"] {
  margin-top: 0.5rem;
}
